name: CI v2

on:
  workflow_dispatch:
    inputs:
      firmware_version:
        description: 'Firmware Version'
        required: true
        default: '23.05.5'
        type: choice
        options:
          - 23.05.5
          - 23.05.4
          - 23.05.3
          - 23.05.2
          - 23.05.1
      model_parameter:
        description: 'Parameters (visit readme)'
        required: true
        default: 'redmi_ax6-stock,ipq807x/generic'
        type: choice
        options:
          - redmi_ax6-stock,ipq807x/generic
          - qihoo_360t7-ubootmod,mediatek/filogic

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      VENDOR: openwrt
      VERSION: ${{ github.event.inputs.firmware_version }}
      DATE: ''
      DATETIME: ''
      MODEL: ''
      FIRMWARE_VERSION: ${{ github.event.inputs.model_parameter}}
      PLATFORM: ''
      PLATFORM_DASH: ''

    steps:
      # 在 $GITHUB_WORKSPACE 下签出您的存储库，以便您的作业可以访问它
      - name: 查看
        uses: actions/checkout@v3
        with: 
          path: origin

      - name: Initialization Environment
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq install build-essential libncurses5-dev libncursesw5-dev zlib1g-dev gawk git gettext libssl-dev xsltproc rsync wget unzip qemu-utils mkisofs jq

       # 提取 model 和 platform 参数
      - name: Extract Model and Platform Parameters
        run: |
          MODEL_PARAMETER=${{ github.event.inputs.model_parameter }}
          IFS=',' read -r MODEL PLATFORM <<< "$MODEL_PARAMETER"

          PLATFORM_DASH=${PLATFORM//\//-}
          echo "PLATFORM_DASH=$PLATFORM_DASH" >> $GITHUB_ENV
          echo "MODEL=$MODEL" >> $GITHUB_ENV
          echo "PLATFORM=$PLATFORM" >> $GITHUB_ENV
          echo "DATE=$(date +%Y%m%d)" >> $GITHUB_ENV
          echo "DATETIME=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9 # 或者你所需的Python版本

      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -r  $GITHUB_WORKSPACE/origin/build/requirements.txt # 如果有依赖文件，则安装依赖
      
      - name: imagebuilder download
        run: |
            python  $GITHUB_WORKSPACE/origin/build/imagebuilder.py "${{ github.event.inputs.model_parameter }}"

      - name: packages download and build
        run: |
          cp -r $GITHUB_WORKSPACE/origin/* $GITHUB_WORKSPACE/${{ env.VENDOR }}-imagebuilder-*/
          cd ${{ env.VENDOR }}-imagebuilder-*/
          # python build/download_packages.py
          # python build/addSourceWarehouse.py
          python build/download-ipk.py
          python build/building_image.py "${{ github.event.inputs.model_parameter }}"
            
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.VENDOR }}-${{ env.VERSION }}-${{ env.MODEL }}-images-${{ env.DATETIME }}
          path: |
            ${{ env.VENDOR }}-imagebuilder-${{ env.VERSION }}-${{ env.PLATFORM_DASH}}.Linux-x86_64/bin/targets/${{ env.PLATFORM }}/*